* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    z-index: -1;
}

.bg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 100px 30px 0px 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}

.new-todo {
    display: flex;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
}

.check {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(237, 14%, 26%);
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark img {
    visibility: hidden;
}

.check-mark:hover, .checked {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);    
}

.check-mark:hover img, .checked img {
    visibility: visible;
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input form input {
    width: 100%;
    flex-grow: 1;
    padding: 10px 5px;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    color: hsl(234, 39%, 85%);
}

.new-todo-input form input::placeholder {
    color: hsl(233, 14%, 35%);
}

.todo-items-wrapper {
    margin-top: 30px;
    background: hsl(235, 24%, 19%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

.todo-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid hsl(237, 14%, 26%);    
    transition: all 0.25s;
}

.todo-item:hover {
    transform: translateX(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
}

.todo-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: hsl(234, 39%, 85%);
}

.todo-items-info {
    height: 70px;
    color: hsl(233, 14%, 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    font-weight: bolder;
}

.item-statuses {
    display: flex;
    justify-content: center;
}

.item-statuses span {
    padding: 0 5px;
    cursor: pointer;
}

.item-statuses span:hover, .item-statuses span.active, .items-clear:hover {
    color: hsl(220, 98%, 61%);
}

.items-clear {
    cursor: pointer;
    text-align: end;
}

.checked-text {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}
